<% breadcrumb :edit_password, @user %>
<div class="flex h-screen items-center justify-center bg-gray-100">
  <div class="w-full max-w-lg px-2">
    <h2 class="text-center mt-2 mb-4 text-xl font-semibold">
      パスワード変更
    </h2>
    <div class="card bg-white shadow-lg p-6 rounded-lg">
      <div class="card-body">
        <%= form_with model: @user, url: update_password_profile_path(@user), method: :patch, local: true do |f| %>
          <!-- 現在のパスワード -->
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text text-base font-medium">現在のパスワード</span>
            </label>
            <%= f.password_field :current_password, placeholder: "現在のパスワードを入力してください", 
                                 class: "input input-bordered w-full h-14 text-base placeholder:text-sm  #{error_class(@user, :current_password)}" %>
            <% if @user.errors[:current_password].present? %>
              <p class="text-red-500 text-sm mt-1"><%= @user.errors[:current_password].first %></p>
            <% end %>
          </div>

          <!-- 新しいパスワード -->
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text text-base font-medium">新しいパスワード</span>
            </label>
            <%= f.password_field :password, placeholder: "新しいパスワードを入力してください", 
                                 class: "input input-bordered w-full h-14 text-base placeholder:text-sm  #{error_class(@user, :password)}" %>
            <% if @user.errors[:password].present? %>
              <p class="text-red-500 text-sm mt-1"><%= @user.errors[:password].first %></p>
            <% end %>
          </div>

          <!-- 新しいパスワード確認 -->
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text text-base font-medium">新しいパスワード（確認用）</span>
            </label>
            <%= f.password_field :password_confirmation, placeholder: "新しいパスワードを再入力してください", 
                                 class: "input input-bordered w-full h-14 text-base placeholder:text-sm  #{error_class(@user, :password_confirmation)}" %>
            <% if @user.errors[:password_confirmation].present? %>
              <p class="text-red-500 text-sm mt-1"><%= @user.errors[:password_confirmation].first %></p>
            <% end %>
          </div>

          <!-- 更新ボタン -->
          <div class="form-control mt-4">
            <%= f.submit "パスワードを更新", class: "btn bg-customBlue text-white border-0 hover:bg-blue-500 w-full py-3 text-lg" %>
          </div>
        <% end %>
      </div>
    </div>
    <p class="text-center mt-4 text-sm">
      プロフィールページに戻る場合は
      <%= link_to "こちらをクリック", profile_path(@user), class: "link link-primary font-semibold text-sm" %>
    </p>
  </div>
</div>
