<div class="max-w-4xl mx-auto mt-8">
  <h1 class="text-2xl font-bold mb-6 text-center"><%= @item.name %>の編集</h1>
  <%= form_with(model: @item, url: admin_item_path(@item), method: :patch, local: true) do |f| %>
    <div class="mb-4">
      <%= f.label :name, "商品名", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :name, class: "input input-bordered w-full h-12 text-lg" %>
    </div>
    <div class="mb-4">
      <%= f.label :manufacturer, "販売元", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :manufacturer, class: "input input-bordered w-full h-12 text-lg" %>
    </div>
    <div class="mb-4">
      <%= f.label :price, "価格", class: "block text-sm font-medium text-gray-700" %>
      <%= f.number_field :price, class: "input input-bordered w-full h-12 text-lg" %>
    </div>
    <div class="mb-4">
      <%= f.label :amazon_url, "Amazon URL", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :amazon_url, class: "input input-bordered w-full h-12 text-lg" %>
    </div>
    <div class="text-center">
      <%= f.submit "更新", class: "btn bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-500" %>
    </div>
  <% end %>
</div>
