<% content_for :title, "新規登録 | MiniRe (ミニレ)" %>
<% breadcrumb :sign_up %>

<div class="min-h-screen flex items-center justify-center bg-gray-100 py-10">
  <div class="w-full max-w-lg px-2">
    <!-- サインアップカード -->
    <h2 class="text-center mt-2 mb-4 text-xl font-semibold">
      新規登録
    </h2>
    <div class="card bg-white shadow-lg p-6 rounded-lg">
      <div class="card-body">

        <!-- Google認証ボタン -->
        <% if devise_mapping.omniauthable? %>
          <div class="flex justify-center">
            <%= button_to user_google_oauth2_omniauth_authorize_path , method: :post, data: { turbo: false }  do %>
              <%= image_tag("sign_up_with_google.png", alt: "Googleで登録") %>
            <% end %>
          </div>
        <% end %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text text-base font-medium">
                名前 <span class="text-red-500">*</span>
              </span>
            </label>
            <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名を入力してください", class: "input input-bordered w-full h-14 text-base placeholder:text-sm #{error_class(resource, :name)}" %>
            <% if resource.errors[:name].present? %>
              <p class="text-red-500 text-sm mt-1"><%= resource.errors[:name].first %></p>
            <% end %>
          </div>
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text text-base font-medium">
                メールアドレス <span class="text-red-500">*</span>
              </span>
            </label>
            <%= f.email_field :email, placeholder: "メールアドレスを入力してください", class: "input input-bordered w-full h-14 text-base placeholder:text-sm #{error_class(resource, :name)}" %>
            <% if resource.errors[:email].present? %>
              <p class="text-red-500 text-sm mt-1"><%= resource.errors[:email].first %></p>
            <% end %>
          </div>
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text text-base font-medium">
                パスワード <span class="text-red-500">*</span>
              </span>
            </label>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力してください", class: "input input-bordered w-full h-14 text-base placeholder:text-sm #{error_class(resource, :password)}" %>
            <% if resource.errors[:password].present? %>
              <p class="text-red-500 text-sm mt-1"><%= resource.errors[:password].first %></p>
            <% end %>
          </div>
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text text-base font-medium">
                パスワード（確認） <span class="text-red-500">*</span>
              </span>
            </label>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードを再入力してください", class: "input input-bordered w-full h-14 text-base placeholder:text-sm #{error_class(resource, :password_confirmation)}" %>
            <% if resource.errors[:password_confirmation].present? %>
              <p class="text-red-500 text-sm mt-1"><%= resource.errors[:password_confirmation].first %></p>
            <% end %>
          </div>
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text text-base font-medium">自己紹介</span>
            </label>
            <%= f.text_area :introduction, placeholder: "簡単な自己紹介を入力してください", class: "textarea textarea-bordered w-full h-28 text-base placeholder:text-sm #{error_class(resource, :introduction)}" %>
            <% if resource.errors[:introduction].present? %>
              <p class="text-red-500 text-sm mt-1"><%= resource.errors[:introduction].first %></p>
            <% end %>
          </div>
          <!-- アバター画像 -->
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text text-base font-medium">アバター画像</span>
            </label>
            <%= f.file_field :avatar, class: "file-input file-input-bordered w-full #{error_class(resource, :avatar)}" %>
            <% if resource.errors[:avatar].present? %>
              <p class="text-red-500 text-sm mt-1"><%= resource.errors[:avatar].first %></p>
            <% end %>
          </div>

          <div class="form-control mt-4">
          <%= f.submit "登録する", class: "btn bg-customBlue text-white border-0 hover:bg-blue-500 w-full py-3 text-lg" %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- サインインリンク -->
    <p class="text-center mt-6 text-sm">
      すでにアカウントをお持ちですか？
      <%= link_to "ログイン", new_session_path(resource_name), class: "link link-primary font-semibold text-sm" %>
    </p>
  </div>
</div>
