  <%= turbo_frame_tag dom_id(comment) do %>
    <li class="flex items-start space-x-4 py-2">
      <!-- ユーザーのアバター -->
      <!-- 通常のページ遷移をしようとすると、遷移先でturbo-frameを探してエラーになるため、通常のページ遷移（リロード）を行うよう明示 -->
      <%= link_to profile_path(comment.user), class: "flex-shrink-0", data: { turbo_frame: "_top" } do %>
        <% if comment.user.avatar.attached? %>
          <%= image_tag comment.user.avatar.variant(resize_to_fill: [40, 40]), class: "rounded-full w-10 h-10" %>
        <% else %>
          <span class="material-symbols-outlined text-gray-600 flex items-center justify-center w-10 h-10" style="font-size: 40px;">
            account_circle
          </span>
        <% end %>
      <% end %>

    <!-- コメント内容 -->
    <div class="flex-1">
      <div class="flex items-center mb-1">
        <span class="font-semibold text-sm"><%= comment.user.name %></span>
        <span class="text-gray-500 text-xs ml-2"><%= time_ago_in_words(comment.created_at) %>前</span>
      </div>
      <p class="text-gray-800 text-sm"><%= safe_join(comment.content.split("\n"), tag(:br)) %></p>

      <% if comment.user == current_user %>
        <div class="flex space-x-4 justify-end mt-2">
          <!-- 編集ボタン -->
          <%= link_to edit_review_comment_path(comment.review, comment), class: "flex items-center text-gray-600 hover:text-blue-800 text-sm" do %>
            <span class="material-symbols-outlined text-base">edit</span> 編集
          <% end %>

          <!-- 削除ボタン -->
          <%= link_to review_comment_path(comment.review, comment), 
              method: :delete,
              id: "button-delete-#{comment.id}",
              data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
              class: "flex items-center text-gray-600 hover:text-red-800 text-sm" do %>
            <span class="material-symbols-outlined text-base">delete</span> 削除
          <% end %>
        </div>
      <% end %>
    </div>
  </li>
<% end %>
