<%= turbo_frame_tag 'comment_form' do %>
 <%= form_with model: [review, comment], id: "#{dom_id(comment)}_form" do |form| %>
  <div class="mb-3">
    <%= form.label :comment, "コメント" %>
    <%= form.text_area :content, class: 'form-control', id: 'js-new-comment-body' %>
  </div>
  <div class="text-end">
    <%= form.submit class: 'btn btn-primary btn-sm' %>
  </div>
 <% end %>
<% end %>