<%= turbo_frame_tag 'comment_form' do %>
  <div data-controller="comment">
    <%= form_with model: Comment.new, url: review_comments_path(review), id: "comment_form", data: { action: "turbo:submit-end->comment#resetForm" } do |form| %>
      <%= form.text_area :content, class: 'form-control', id: 'js-new-comment-body', data: { comment_target: "input" } %>
      <%= form.submit "送信", class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>

  <% comment.errors.full_messages.each do |message| %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

<% end %>
