<div id="flash_message" class="<%= flash[:comment_notice] || flash[:comment_alert] ? '' : 'hidden' %>">
  <% if flash[:comment_notice] || flash[:comment_alert] %>
    <% { comment_notice: "blue", comment_alert: "red" }.each do |key, color| %>
      <% if flash[key] %>
        <div class="bg-<%= color %>-100 border-l-4 border-<%= color %>-500 text-<%= color %>-700 flex items-center p-4 rounded-md">
          <div class="mr-3">
            <span class="material-icons text-<%= color %>-500">
              <%= key == :comment_notice ? "info" : "error" %>
            </span>
          </div>
          <div><%= flash[key] %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
