<div class="container mx-auto py-10 px-4 sm:px-6">
  <% if defined?(title) && title.present? %>
    <h1 class="text-2xl font-bold mb-6 text-center"><%= title %></h1>
  <% end %>

  <%# filter_formがtrueの場合、絞り込み・並び替えフォームを表示する %>
  <% if filter_form %>
    <form method="get" action="<%= path %>" class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6 max-w-screen-lg mx-auto">

      <%#  検索クエリを保持する hidden フィールド(ないと絞り込みフォームと合わせての検索ができない) %>
      <%= hidden_field_tag "q[title_or_content_or_item_name_cont]", params.dig(:q, :title_or_content_or_item_name_cont) %>

      <!-- 絞り込みフォーム -->
      <div class="flex flex-col md:flex-row  min-w-[300px]">
        <label for="filter_type" class="text-sm font-medium text-gray-600 whitespace-nowrap min-w-fit md:mr-2">絞り込み:</label>
        <select name="filter_type" id="filter_type"
                class="min-w-[250px] max-w-full h-12 text-base pl-4 pr-4 bg-gray-50 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400 focus:border-blue-400 transition duration-200 flex-grow"
                onchange="this.form.submit()">
          <option value="" <%= "selected='selected'" if params[:filter_type].blank? %>>すべてのレビュー</option>
          <option value="releasable" <%= "selected='selected'" if params[:filter_type] == 'releasable' %>>手放せるものがあるレビュー</option>
          <% @categories.each do |category| %>
            <option value="category_<%= category.id %>" <%= "selected='selected'" if params[:filter_type] == "category_#{category.id}" %>>
              カテゴリ: <%= category.name %>
            </option>
          <% end %>
        </select>
      </div>

      <!-- 並び替えフォーム -->
      <div class="flex flex-col md:flex-row min-w-[200px] md:justify-end">
        <label for="sort" class="text-sm font-medium text-gray-600 whitespace-nowrap min-w-fit md:mr-2">並び替え:</label>
        <select name="sort" id="sort"
                class="min-w-[150px] max-w-full h-12 text-base pl-4 pr-4 bg-gray-50 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400 focus:border-blue-400 transition duration-200 flex-grow"
                onchange="this.form.submit()">
          <option value="newest" <%= "selected='selected'" if params[:sort] == 'newest' %>>新着順</option>
          <option value="oldest" <%= "selected='selected'" if params[:sort] == 'oldest' %>>古い順</option>
          <option value="most_liked" <%= "selected='selected'" if params[:sort] == 'most_liked' %>>いいねが多い順</option>
        </select>
      </div>

    </form>
  <% end %>

  <% if reviews.present? %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <% reviews.each do |review| %>
        <%= render "shared/review_card", review: review %>
      <% end %>
    </div>

    <% if paginated %>
      <div class="mt-8">
        <%= paginate reviews %>
      </div>
    <% end %>
  <% else %>
    <p class="text-gray-600 text-center mt-10"><%= empty_message %></p>
  <% end %>
</div>
