<!-- app/views/home/index.html.erb -->

<!DOCTYPE html>
<html>
  <head>
    <title>MiniRe - Welcome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- メインコンテンツ -->
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <!--ロゴ画像(app/assets/images/logo.pngを表示)-->
      <%= image_tag "logo.png", alt: "MiniRe", class: "w-24" %>
      <div class="max-w-2xl px-6">
        <!-- タイトル -->
        <h1 class="text-5xl font-bold mb-8">MiniReとは?</h1>

        <!-- サイト説明 -->
        <p class="text-lg text-gray-700 leading-relaxed mb-6">
          MiniRe － 無理なく、無駄なく、ミニマリズムを楽しむ<br />
          「MiniRe」は、「少ないモノで豊かに暮らす」を目指す、ミニマリストのためのレビューサイトです。<br />
          名前に込めた以下の想いとともに、ミニマリズムの第一歩を応援します。
        </p>

        <!-- 機能紹介 -->
        <div class="text-left mb-6 space-y-6">
          <div>
            <h2 class="text-xl font-semibold mb-2">1. 厳選されたアイテムを探す</h2>
            <p class="text-gray-700 leading-relaxed">
              実際のミニマリストたちが愛用するアイテムやその活用法を知ることで、あなたにとって本当に必要なものを見つけられます。
            </p>
          </div>
          <div>
            <h2 class="text-xl font-semibold mb-2">2. 投稿を通じて共有・交流する</h2>
            <p class="text-gray-700 leading-relaxed">
              自分が愛用するアイテムを投稿し、他のミニマリストと知識や感動を共有できます。さらに、コメントや「いいね」で交流を深める場としても活用できます。
            </p>
          </div>
          <div>
            <h2 class="text-xl font-semibold mb-2">3. 無理なくミニマリズムを始める</h2>
            <p class="text-gray-700 leading-relaxed">
              初心者の方も、必要最低限のアイテムを迷わず選べるガイドやおすすめレビューが充実。無駄を減らしながら、心豊かな生活をサポートします。
            </p>
          </div>
        </div>

        <!-- 名前の由来 -->
        <div class="mb-8">
          <h2 class="text-xl font-semibold mb-4">MiniReの名前に込めた想い</h2>
          <p class="text-gray-700 leading-relaxed">
            「MiniRe（ミニレ）」は、「ミニマリスト（Minimalist）」のミニと、「レビュー（Review）」のReを掛け合わせた名前です。
            シンプルで洗練されたアイデアを提供する場として、誰でも使いやすいプラットフォームを目指しています。
          </p>
        </div>

        <!-- ボタン -->
        <%= link_to "レビューを見る",reviews_path, class: "btn bg-customBlue text-white border-0 hover:bg-blue-500" %>
      </div>
    </div>
  </div>
</body>
</html>