<% content_for :title, "#{@item.name} | MiniRe (ミニレ)" %>
<% content_for :meta_description, "#{@item.name}の詳細ページです。商品情報と関連レビューを紹介します。#{@item.amazon_url.present? ? 'Amazonでの購入リンクも掲載しています。' : ''}" %>
<% breadcrumb :item, @item %>

<div class="bg-gray-100 min-h-screen py-8 px-4">
  <div class="max-w-6xl mx-auto bg-white px-6 sm:px-8 py-6 sm:py-8 shadow-md rounded-md space-y-8">
    <!-- 商品詳細セクション -->
    <div class="flex flex-col md:flex-row gap-8 sm:gap-12 items-start">

      <!-- 左側: 商品画像 (横スクロール) -->
      <div class="w-full md:w-1/2">
        <div class="flex space-x-4 p-2  overflow-x-auto">
          <% if @item.images.attached? %>
            <% @item.images.each do |image| %>
              <img src="<%= url_for(image) %>" alt="<%= @item.name %>" 
                   class="object-cover rounded-md shadow-md flex-shrink-0">
            <% end %>
          <% else %>

              <div class="relative w-[300px] h-[250px] bg-gray-200 border border-gray-300 rounded-md shadow-md flex-shrink-0">
                <div class="absolute inset-0 flex items-center justify-center text-gray-500 text-lg font-semibold">
                  画像未登録
                </div>
              </div>

          <% end %>
        </div>
      </div>

      <!-- 右側: 商品情報 -->
      <div class="flex flex-col w-full md:w-1/2 space-y-4 sm:space-y-6 px-4 sm:px-8">
        <div class="space-y-4">
          <div class="bg-gray-50 border-l-4 border-blue-300 px-4 py-2 rounded">
            <p class="text-sm text-gray-500 font-semibold">販売元</p>
            <p class="text-base text-gray-800"><%= @item.manufacturer || '情報がありません' %></p>
          </div>

          <div class="bg-gray-50 border-l-4 border-blue-300 px-4 py-2 rounded">
            <p class="text-sm text-gray-500 font-semibold">商品説明</p>
            <p class="text-base text-gray-800 leading-relaxed">
              <%= @item.description.present? ? safe_join(@item.description.split("\n"), tag(:br)) : '情報がありません' %>
            </p>
          </div>

          <!-- 価格を乗せる場合、取得日時等も合わせて乗せる必要があるため、現状コメントアウト -->
          <% if @item.price.present? %>
            <div class="bg-gray-50 border-l-4 border-blue-300 px-4 py-2 rounded">
              <p class="text-sm text-gray-500 font-semibold">価格</p>
              <p class="text-lg font-bold text-gray-900">
                <%= "¥#{number_to_currency(@item.price, unit: '', delimiter: ',')}" %>（<%= @item.updated_at.strftime('%Y年%m月%d日 %H:%M') %> 時点）
              </p>
              <small class="text-xs text-gray-500">
                価格および発送可能時期は表示された日付/時刻の時点のものであり、変更される場合があります。本商品の購入においては、購入時点でAmazon.co.jpに表示されている情報が適用されます。
              </small>
            </div>
          <% end %>

          <% if @item.amazon_url.present? %>
            <%= link_to "Amazon", @item.amazon_url, 
                        class: "btn bg-customBlue text-white border-0 hover:bg-blue-600 py-3 text-lg rounded-md text-center shadow-md w-full", target: :_blank %>
          <% else %>
            <p class="text-sm text-red-500 mt-4">Amazonのリンク情報は未登録です</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- レビュー一覧セクション -->
  <div class="max-w-6xl mx-auto bg-white mt-8 px-6 sm:px-8 py-6 sm:py-8 shadow-md rounded-md">
    <h2 class="text-xl font-bold text-gray-800 mb-4 sm:mb-6 border-b border-gray-300 pb-2">レビュー一覧</h2>
    <% if @reviews.any? %>
      <ul class="space-y-4 sm:space-y-6">
        <% @reviews.each do |review| %>
          <li class="bg-gray-50 p-4 rounded-md shadow-md hover:shadow-lg transition-shadow">
            <h3 class="text-lg font-medium text-gray-800 mb-2">
              <%= link_to review.title, review_path(review), class: "hover:text-blue-500" %>
            </h3>
            <p class="text-sm text-gray-600 mb-2 sm:mb-4"><%= truncate(review.content, length: 100) %></p>
            <p class="text-xs text-gray-500">投稿者: <%= review.user.name %></p>
            <p class="text-xs text-gray-500">投稿日: <%= l(review.created_at, format: :long) %></p>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-gray-600">この商品にはまだレビューがありません。</p>
    <% end %>
  </div>
</div>
