<!-- Amazon検索フォーム -->
<div id="amazon-form" class="form-control mb-6 relative" data-controller="autocomplete" data-autocomplete-url-value="<%= amazon_index_path %>">

  <div class="flex items-center justify-between mb-1">
    <%= form.label :amazon_item_name, class: "text-lg font-medium text-gray-700" do %>
      商品名 <span class="text-red-500">*</span>
    <% end %>

    <div>
      <button type="button"
              class="text-sm text-blue-600 underline"
              data-action="click->search-toggle#showMissingOnAmazon">
        見つからない場合
      </button>
    </div>
  </div>

  <%= text_field_tag :amazon_item_name, nil,
      placeholder: "6文字以上のAmazonの商品名を入力してください",
      class: "input input-bordered w-full h-12 text-lg placeholder:text-sm #{error_class(@review, :amazon_item_name)}", 
      data: {
        autocomplete_target: "input",
        autocomplete_url: amazon_index_path
      } %>

  <%= hidden_field_tag :asin, nil, data: { autocomplete_target: "hidden" } %>

  <% if form.object.errors[:amazon_item_name].any? %>
    <p class="text-red-500 text-sm mt-1"><%= form.object.errors[:amazon_item_name].first %></p>
  <% end %>

  <ul class="list-group bg-white border border-gray-300 rounded-md shadow-md absolute top-full left-0 w-full z-10 max-h-[60vh] overflow-y-auto"
      data-autocomplete-target="results">
  </ul>
</div>