<%= render "shared/error_messages", object: @review %>

<div class="form-control mb-6 relative" data-controller="autocomplete" data-autocomplete-url-value="<%= items_path %>"  >
  <%= form.label :item_name, "商品名", class: "block text-lg font-medium text-gray-700" %>
  <%= text_field_tag :item_name, @review.item&.name,
      placeholder: "商品名を入力してください", 
      class: "input input-bordered w-full h-12 text-lg placeholder:text-sm", 
      data: { 
        autocomplete_target: "input", 
        autocomplete_url: items_path 
      } %>
  <%= form.hidden_field :name, data: { autocomplete_target: 'hidden' } %>
  <% if form.object.errors[:item_name].any? %>
    <p class="text-red-500 text-sm mt-1"><%= form.object.errors[:item_name].first %></p>
  <% end %>
  <ul class="list-group bg-white border border-gray-300 rounded-md shadow-md absolute top-full left-0 w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
</div>

<div class="form-control mb-6">
  <%= form.label :title, "タイトル", class: "block text-lg font-medium text-gray-700" %>
  <%= form.text_field :title, class: "input input-bordered w-full h-12 text-lg placeholder:text-sm", placeholder: "レビュータイトルを入力してください" %>
  <% if form.object.errors[:title].any? %>
    <p class="text-red-500 text-sm mt-1"><%= form.object.errors[:title].first %></p>
  <% end %>
</div>

<div class="form-control mb-6">
  <%= form.label :content, "内容", class: "block text-lg font-medium text-gray-700" %>
  <%= form.text_area :content, rows: 8, class: "textarea textarea-bordered w-full text-lg placeholder:text-sm", placeholder: "レビュー内容を詳しく入力してください" %>
  <% if form.object.errors[:content].any? %>
    <p class="text-red-500 text-sm mt-1"><%= form.object.errors[:content].first %></p>
  <% end %>
</div>

<!-- レビュー画像アップロード -->
<div class="form-control mb-6">
  <%= form.label :images, "レビュー画像", class: "block text-lg font-medium text-gray-700" %>
  <%= form.file_field :images, multiple: true, class: "input input-bordered w-full" %>
  <% if @review.errors[:images].any? %>
    <p class="text-red-500 text-sm mt-1"><%= @review.errors[:images].first %></p>
  <% end %>
</div>

<div class="form-control mb-6">
  <h3 class="block text-lg font-medium text-gray-700">手放せるもの（未入力でも可）</h3>
  <div data-controller="releasable-items">
    <%= form.fields_for :releasable_items do |item_fields| %>
      <%= render "releasable_items_form", item_fields: item_fields %>
    <% end %>
  </div>
</div>

<div class="form-control mt-6">
  <%= form.submit button_label, class: "btn bg-customBlue text-white border-0 hover:bg-blue-500 w-full py-3 text-lg" %>
</div>
