<!-- 商品名検索フォーム -->
<div data-controller="search-toggle">
  <%# 検索方法の状態を伝える hidden フィールド
      action_name が edit の場合は 'サイト内検索(見つからない場合はこちら)' をデフォルトに
      それ以外は 'amazon検索' をデフォルトに %>
  <%= hidden_field_tag :search_method, params[:search_method] || (action_name == 'edit' ? 'missing_on_amazon' : 'amazon'), id: "search_method" %>

  <!-- Amazon検索フォーム -->
  <%= render "amazon_search_form", form: form, review: @review %>

  <!-- サイト内検索フォーム -->
  <%= render "missing_on_amazon_form", form: form, review: @review %>
</div>

<!-- タイトルフォーム -->
<%= render "title_form", form: form, review: @review %>

<!-- 内容フォーム -->
<%= render "content_form", form: form, review: @review %>

<!-- 画像アップロードフォーム -->
<%= render "image_upload_form", form: form, review: @review %>

<!-- 手放せるものフォーム -->
<%= render "releasable_items_fields", form: form, review: @review %>

<!-- 投稿ボタン-->
<%= render "shared/form_submit", form: form, button_label: button_label %>

<!-- 下書き保存と下書き一覧モーダル -->
<%= render "draft_section", form: form %>