
<!-- 検索方法の状態を明示的に伝える hidden フィールド -->
<div data-controller="search-toggle">
  <!-- hidden_field_tag :search_method もここでOK -->
  <%= hidden_field_tag :search_method, params[:search_method] || (action_name == 'edit' ? 'minire' : 'amazon'), id: "search_method" %>

<!-- Amazon検索フォーム -->
<div id="amazon-form" class="form-control mb-6 relative" data-controller="autocomplete" data-autocomplete-url-value="<%= amazon_index_path %>">
<!-- 商品名ラベルとMiniReボタンを横並びに -->
<div class="flex items-center justify-between mb-1">
  <%= form.label :amazon_item_name, class: "text-lg font-medium text-gray-700" do %>
    商品名 <span class="text-red-500">*</span>
  <% end %>

  <div class="mb-4">
      <button type="button"
              class="text-sm text-blue-600 underline"
              data-action="click->search-toggle#showMinire">
        見つからない場合
      </button>
  </div>
</div>

  <%= text_field_tag :amazon_item_name, nil,
      placeholder: "6文字以上のAmazonの商品名を入力してください",
      class: "input input-bordered w-full h-12 text-lg placeholder:text-sm #{error_class(@review, :amazon_item_name)}", 
      data: {
        autocomplete_target: "input",
        autocomplete_url: amazon_index_path
      } %>

  <%= hidden_field_tag :asin, nil, data: { autocomplete_target: "hidden" } %>

  <% if form.object.errors[:amazon_item_name].any? %>
    <p class="text-red-500 text-sm mt-1"><%= form.object.errors[:amazon_item_name].first %></p>
  <% end %>

  <ul class="list-group bg-white border border-gray-300 rounded-md shadow-md absolute top-full left-0 w-full md:text-sm max-w-max z-50"
      data-autocomplete-target="results">
  </ul>
</div>

<!-- 登録アイテムフォーム -->
<div id="minire-form" class="form-control mb-6 relative" data-controller="autocomplete" data-autocomplete-url-value="<%= items_path %>">

  <!-- 商品名ラベルとAmazonボタンを横並びに -->
  <div class="flex items-center justify-between mb-1">
    <%= form.label :item_name, class: "text-lg font-medium text-gray-700" do %>
      商品名 <span class="text-red-500">*</span>
    <% end %>

    <div>
      <button type="button"
              class="text-sm text-blue-600 underline"
              data-action="click->search-toggle#showAmazon">
        Amazon内で探す
      </button>
    </div>
  </div>

  <%= text_field_tag :item_name, @review.item&.name,
      placeholder: "商品名を登録してください", 
      class: "input input-bordered w-full h-12 text-lg placeholder:text-sm #{error_class(@review, :item_name)}", 
      data: { 
        autocomplete_target: "input", 
        autocomplete_url: items_path
      } %>

  <%= form.hidden_field :name, data: { autocomplete_target: 'hidden' } %>

  <% if form.object.errors[:item_name].any? %>
    <p class="text-red-500 text-sm mt-1"><%= form.object.errors[:item_name].first %></p>
  <% end %>

  <ul class="list-group bg-white border border-gray-300 rounded-md shadow-md absolute top-full left-0 w-full md:text-sm max-w-max z-50" data-autocomplete-target="results"></ul>
</div>
</div>

<!-- レビュー投稿簡略化のため、一時的にコメントアウト -->
<!--
<div class="form-control mb-6">
  <%= form.label :category_id, class: "block text-lg font-medium text-gray-700" do  %>
    カテゴリ <span class="text-red-500">*</span>
  <% end %>
  <%= form.collection_select :category_id, Category.all, :id, :name,
        { prompt: "カテゴリを選択してください" },
        { class: "input input-bordered w-full h-12 text-lg placeholder:text-sm appearance-none pr-10 #{error_class(@review, :category)}" } %>
<% if form.object.errors[:category].any? %>
  <p class="text-red-500 text-sm mt-1">カテゴリを選択してください</p>
<% end %>
</div>
-->

<div class="form-control mb-6">
  <%= form.label :title, class: "block text-lg font-medium text-gray-700" do  %>
    タイトル <span class="text-red-500">*</span>
  <% end %>
  <%= form.text_field :title, class: "input input-bordered w-full h-12 text-lg placeholder:text-sm #{error_class(@review, :title)}", placeholder: "レビュータイトルを入力してください" %>
  <% if form.object.errors[:title].any? %>
    <p class="text-red-500 text-sm mt-1"><%= form.object.errors[:title].first %></p>
  <% end %>
</div>

<div class="form-control mb-6" data-controller="template">
  <div class="flex items-center justify-between mb-1">
    <%= form.label :content, class: "text-lg font-medium text-gray-700" do %>
      内容 <span class="text-red-500">*</span>
    <% end %>

    <button type="button" class="btn btn-outline btn-sm" data-action="click->template#insert">
      テンプレートを挿入
    </button>
  </div>

  <%= form.text_area :content,
      rows: 3,
      class: "textarea textarea-bordered w-full text-lg resize-y placeholder:text-sm #{error_class(@review, :content)}",
      placeholder: "レビュー内容を入力してください",
      data: {
        controller: "autosize",
        action: "input->autosize#resize",
        template_target: "textarea"
      } %>

  <% if form.object.errors[:content].any? %>
    <p class="text-red-500 text-sm mt-1"><%= form.object.errors[:content].first %></p>
  <% end %>
</div>



<!-- 画像アップロード -->
<div class="form-control mb-6" data-controller="image-preview">
  <%= form.label :images, "レビュー画像（5枚まで選択可）", class: "block text-lg font-medium text-gray-700" %>

  <!-- 画像プレビューエリア -->
  <div data-image-preview-target="preview" class="flex flex-wrap gap-2 mb-4">
    <% @review.images.each do |image| %>
      <% if image.persisted? %>
        <div class="relative preview-image" data-image-id="<%= image.id %>">
          <%= image_tag image.variant(resize_to_limit: [200, 200]), class: "w-24 h-24 object-cover border" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= hidden_field_tag "review[remove_images]", "", data: { image_preview_target: "removeImages" } %>

  <!-- エラーメッセージ -->
  <% if @review.errors[:images].present? %>
    <p class="text-red-500 text-sm mt-1"><%= @review.errors[:images].first %></p>
  <% end %>

  <!-- 画像選択フィールド -->
  <div class="form-control mb-4">
    <%= form.file_field :images, name: "review[images][]", multiple: true, class: "file-input file-input-bordered w-full #{error_class(@review, :images)}", data: { image_preview_target: "input" }, id: "image-input", "data-action": "change->image-preview#selectImages" %>
  </div>
</div>

<div data-controller="releasable-items">

  <!-- タイトル：最初は hidden にしておく -->
  <%= form.label :releasable_items, "手放せるもの（任意・最大3つまで）", class: "block text-lg font-medium text-gray-700 mb-2 hidden", data: { releasable_items_target: "title" } %>

  <% 3.times do |i| %>
    <% value_present = @review.releasable_items[i]&.name.present? %>
    <div data-releasable-items-target="item" class="<%= 'hidden' unless value_present %>">
      <%= form.fields_for :releasable_items, @review.releasable_items[i] || ReleasableItem.new, child_index: i do |item_fields| %>
        <%= render "reviews/releasable_items_form", item_fields: item_fields, index: i %>
      <% end %>
    </div>
  <% end %>

  <div class="mt-4 text-right">
    <button type="button"
            class="btn btn-outline btn-sm"
            data-action="click->releasable-items#add">
      手放せるものを追加
    </button>
  </div>
</div>

<div class="form-control mt-6">
  <%= form.submit button_label, class: "btn bg-customBlue text-white border-0 hover:bg-blue-500 w-full py-3 text-lg" %>
</div>