<div class="container mx-auto px-10 py-10">
  <h1 class="text-2xl font-bold mb-6">レビュー一覧</h1>

  <!-- グリッドレイアウト -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
    <% @reviews.each do |review| %>
      <div class="card bg-white shadow-lg rounded-lg p-6">

        <!-- ユーザー情報 -->
        <div class="flex items-center mb-4">
          <%= link_to profile_path(review.user), class: "flex items-center" do %>
            <% if review.user.avatar.attached? %>
              <%= image_tag review.user.resized_avatar,
                            class: "w-12 h-12 rounded-full object-cover",
                            alt: "User Avatar" %>
            <% else %>
              <span class="material-symbols-outlined text-gray-600 items-center justify-center">account_circle</span>
            <% end %>
            <p class="ml-4 text-sm text-gray-800 font-medium"><%= review.user.name %></p>
          <% end %>
        </div>

        <!-- レビュー内容 -->
        <div class="clickable-area">
          <%= link_to review_path(review), class: "block hover:no-underline text-inherit" do %>
            <!-- 投稿写真 -->
            <div class="mb-4 grid grid-cols-3 gap-3">
              <% if review.images.attached? %>
                <% review.resized_images.each do |image| %>
                  <%= image_tag image, alt: "投稿写真", class: "aspect-square rounded-md col-span-1 object-cover" %>
                <% end %>
              <% else %>
                <% 3.times do %>
                  <img src="https://via.placeholder.com/200" alt="投稿写真" class="aspect-square rounded-md col-span-1 object-cover">
                <% end %>
              <% end %>
            </div>

            <!-- 投稿タイトル -->
            <h2 class="text-lg font-bold text-gray-900 mb-2"><%= review.title %></h2>

            <!-- 投稿本文 -->
            <p class="text-sm text-gray-700 mb-4"><%= truncate(review.content, length: 100) %></p>
          <% end %>
        </div>

        <!-- 区切り線 -->
        <hr class="my-4 border-gray-300">

        <!-- いいねボタン -->
        <div class="flex justify-end mb-4">
          <% if user_signed_in? %>
            <% if review.likes.exists?(user: current_user) %>
              <%= button_to review_like_path(review, current_user.likes.find_by(review: review)),
                            method: :delete,
                            class: "flex items-center text-red-500 hover:text-red-600" do %>
                <span class="material-icons text-2xl">favorite</span>
              <% end %>
            <% else %>
              <%= button_to review_likes_path(review),
                            method: :post,
                            class: "flex items-center text-gray-500 hover:text-red-500" do %>
                <span class="material-icons text-2xl">favorite_border</span>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <!-- 商品情報 -->
        <% if review.item.present? %>
          <div class="flex items-center">
            <%= link_to item_path(review.item), class: "flex items-center w-full hover:bg-gray-100 p-2 rounded-md" do %>
              <!-- 商品名の画像が登録されていたら、リサイズした商品画像を表示(1枚目) -->
              <% if review.item.images.attached? %>
                <%= image_tag review.item.resized_images.first,
                              alt: "商品画像",
                              class: "w-16 h-16 object-cover rounded-md" %>
              <% else %>
                <img src="https://via.placeholder.com/100" alt="商品画像" class="w-16 h-16 object-cover rounded-md">
              <% end %>
              <div class="ml-4">
                <!-- ブランド名が登録されていたらブランド名を表示 -->
                <% if review.item.manufacturer.present? %>
                  <p class="text-xm text-gray-500"><%= review.item.manufacturer %></p>
                <% end %>
                <!-- 商品名が登録されていたら商品名を表示 -->
                <% if review.item.name.present? %>
                  <p class="text-sm text-gray-800 font-medium"><%= review.item.name %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="flex items-center text-gray-500">
            <p>商品情報がありません</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- ページネーション -->
  <div class="mt-8">
    <%= paginate @reviews %>
  </div>
</div>
