<% content_for :title, "#{@review.title} | MiniRe (ミニレ)" %>
<% content_for :meta_description, "#{@review.title} というテーマで、おすすめのアイテムや使い方についてレビューされています。'}" %>
<% breadcrumb :review, @review %>

<div class="container mx-auto px-4 py-8">
  <!-- 投稿詳細カード -->
  <div class="card bg-white shadow-lg rounded-lg p-6">
    <!-- ユーザーアイコン・ユーザー名 -->
    <div class="flex items-center mb-4">
      <%= link_to profile_path(@review.user), class: "flex items-center" do %>
        <% if @review.user.avatar.attached? %>
          <%= image_tag @review.user.resized_avatar,
                        class: "w-12 h-12 rounded-full object-cover",
                        alt: "User Avatar" %>
        <% else %>
          <span class="material-symbols-outlined text-gray-600 text-3xl">account_circle</span>
        <% end %>
        <div class="ml-4 text-gray-800 font-medium">
          <p class="text-sm">
            <%= @review.user.name %>
          </p>
        </div>
      <% end %>
    </div>

    <!-- 投稿写真 -->
    <div class="flex space-x-4 overflow-x-auto">
        <% if @review.images.attached? %>
          <% @review.resized_images.each do |image| %>
            <%= image_tag image,
                          class: "aspect-square rounded-md col-span-1 object-cover flex-none",
                          alt: "投稿写真" %>
          <% end %>
        <% end %>
    </div>

    <!-- 投稿タイトル -->
    <h1 class="text-2xl font-bold mb-6"><%= @review.title %></h1>

    <!-- 投稿本文 -->
    <div class="mb-6 text-gray-700 text-sm">
      <%= safe_join(@review.content.split("\n"), tag(:br)) %>
    </div>

    <!-- 手放せるもの -->
    <% if @review.releasable_items.present? %>
      <div class="mb-6 p-4 bg-gray-100 rounded-lg">
        <h2 class="text-lg font-bold mb-2 text-gray-800">手放せるもの</h2>
        <ul class="space-y-2">
          <% @review.releasable_items.each do |item| %>
            <li class="flex items-center text-gray-700">
              <span class="material-symbols-outlined text-blue-500 mr-2">check_circle</span>
              <%= item.name %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- 編集・削除ボタン -->
    <% if current_user == @review.user %>
      <div class="flex justify-end gap-4 mt-4">
        <%= link_to edit_review_path(@review), class: "flex items-center gap-1 hover:text-blue-600" do %>
          <span class="material-symbols-outlined">edit_document</span>
        <% end %>

        <%= link_to review_path(@review),
                    method: :delete,
                    data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
                    class: "flex items-center gap-1 hover:text-red-600" do %>
          <span class="material-symbols-outlined">delete</span>
        <% end %>
      </div>
    <% end %>

    <!-- 区切り線 -->
    <hr class="my-6 border-gray-300">

    <!-- いいねボタン -->
    <div class="flex justify-end mb-4">
      <% if user_signed_in? %>
        <% if @review.likes.exists?(user: current_user) %>
          <%= button_to review_like_path(@review, current_user.likes.find_by(review: @review)), method: :delete, class: "flex items-center text-red-500 hover:text-red-600" do %>
            <span class="material-icons text-2xl">favorite</span>
          <% end %>
        <% else %>
          <%= button_to review_likes_path(@review), method: :post, class: "flex items-center text-gray-500 hover:text-red-500" do %>
            <span class="material-icons text-2xl">favorite_border</span>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <!-- 商品情報 -->
    <div class="flex items-center mt-6">
      <%= link_to item_path(@review.item), class: "flex items-center w-full hover:bg-gray-100 p-2 rounded-md" do %>
        <!-- 商品画像
        <% if @review.item.images.attached? %>
          <%= image_tag @review.item.resized_images.first,
                        alt: "商品画像",
                        class: "w-16 h-16 object-cover rounded-md" %>
        <% else %>
          <%= image_tag "logo.png", alt: "MiniRe", class: "w-16 h-16 object-cover" %>
        <% end %>
         -->
        <!-- 商品情報 -->
        <div class="ml-4">
          <!-- ブランド名 -->
          <% if @review.item.manufacturer.present? %>
            <p class="text-sm text-gray-500"><%= @review.item.manufacturer %></p>
          <% end %>
          <!-- 商品名
          <% if @review.item.name.present? %>
            <p class="text-md text-gray-800 font-medium"><%= @review.item.name %></p>
          <% end %>
           -->
          <!--amazonの商品画像が使えないため、一時的に下記で詳細ページへ遷移を示す-->
          <% if @review.item.name.present? %>
            <p class="text-md text-gray-800 font-medium underline"><%= "#{@review.item.name}の詳細" %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-8">
    <h2 id = "comments_count" class="text-xl font-bold mb-6"><%= @review.comments.count %>件のコメント</h2>

    <div id="flash_message" class="mb-5">
      <%= render "shared/flash_message_turbo" %>
    </div>

    <div id="comment_form">
    <%= render "comments/form", review: @review, comment: @comment %>
    </div>

    <!--非同期でのコメントの表示-->
    <div id="comments">
      <%= render "comments/comments", comments: @comments %>
    </div>
</div>
