<footer class="border-t border-black py-4 mt-12">
  <div class="w-full px-4 md:px-8 flex flex-col md:flex-row justify-between items-center text-sm text-gray-600">
    <!-- Footer Links -->
    <div class="flex flex-col md:flex-row items-center gap-4">
      <%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSekpXn40Ny_dXzf-HF85rMtgz67KkxKMzny7y8xRVp9K8-MNA/viewform?usp=header', target: '_blank', rel: 'noopener noreferrer', class: 'hover:underline' %>
      <%= link_to '利用規約', terms_of_service_path, class: 'hover:underline' %>
      <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'hover:underline' %>
    </div>
    <!-- Footer Copy -->
    <div class="flex items-center gap-4 mt-4 md:mt-0">
      <!-- SNS Icons -->
      <!-- X（画像アイコン） -->
      <%= link_to 'https://x.com/MiniRe_minimal', target: '_blank', rel: 'noopener noreferrer', class: 'hover:opacity-80' do %>
        <%= image_tag 'share-icon.png', alt: 'X（旧Twitter）', class: 'w-[1.2rem] h-[1.2rem] object-contain' %>
      <% end %>

      <!-- Instagram -->
      <%= link_to 'https://www.instagram.com/minire_minimal/', target: '_blank', rel: 'noopener noreferrer', class: 'hover:text-gray-800' do %>
        <i class="fa-brands fa-instagram text-2xl"></i>
      <% end %>
      <!-- GitHub -->
      <%= link_to 'https://github.com/taka292/minire', target: '_blank', rel: 'noopener noreferrer', class: 'text-gray-600 hover:text-gray-800' do %>
        <i class="fa-brands fa-github text-2xl"></i>
      <% end %>
      <p class="text-gray-600">&copy; <%= Time.current.year %> MiniRe</p>
    </div>
  </div>
</footer>