<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Minire" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined', media: 'all' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- JavaScript -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true, crossorigin: "anonymous" %>
  </head>

  <body>
    <div class="bg-white border-b border-black">
      <%= render 'layouts/header' %>
    </div>
    
    <% flash.each do |key, value| %>
      <%= render 'layouts/flash_message', key: key, value: value %>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
