<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "MiniRe" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- favicon(スマホ・PC・) -->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'android-chrome-192x192.png', rel: 'icon', type: 'image/png', sizes: '192x192' %>
    <%= favicon_link_tag 'android-chrome-512x512.png', rel: 'icon', type: 'image/png', sizes: '512x512' %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined', media: 'all' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- JavaScript -->
    <link rel="preload" href="/assets/application-33583849.js" as="script" crossorigin="anonymous">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true, crossorigin: "anonymous" %>

    <link rel="manifest" href="/pwa/manifest.json">
  </head>

  <body>
    <div class="bg-[#F5F5F5] border-b border-black shadow-md  sticky top-0 z-50">
      <%= render 'layouts/header' %>
    </div>
    <% flash.each do |key, value| %>
      <%= render 'layouts/flash_message', key: key, value: value %>
    <% end %>

    <% if defined?(@review) && @review.errors.any? %>
      <%= render 'shared/error_messages', object: @review %>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
